body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #e0e0e0;
  position: fixed;
  overflow: auto;
  height: 100%;
  z-index: 2;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #6d6d6d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(168, 166, 166);
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 260px;
  padding: 20px;
}

.img-center {
  padding: 0 25px 0 25px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .img-center {
    padding: 0 25% 0 25%;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 499px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.menu {
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  background-repeat: repeat-x;
}

.selected {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: rgb(143, 143, 143);
}

.img-menu {
  max-width: 100%;
  height: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
@media screen and (min-width: 768px) {
  .modal {
    padding-top: 100px;
  }
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.4s;
  animation-name: animate;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  height: 25rem;
  overflow-y: auto;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
/* navbar top */
.bg-navbar {
  background-color: #cccccc;
}

.pay_pop {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
@media screen and (min-width: 768px) {
  .pay_pop {
    padding-top: 150px;
  }
}

.payment-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.4s;
  animation-name: animate;
  animation-duration: 0.4s;
}

/*space*/
tabspace {
  padding-right: 4em;
}

/*button bayar*/
li .paybut {
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.5em 0.3em 1em;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}
li .paybut:active {
  top: 0.1em;
}

@media all and (max-width: 30em) {
  li .paybut {
    display: block;
    margin: 0.4em auto;
  }
}
.pay_cash {
  display: none;
}
.pay_ewallet {
  display: none;
}
.pay_edc {
  display: none;
}

.ewallet_method,
.edc_method {
  display: inline-table;
}

.ewallet_method li {
  margin-left: 30px;
  margin-right: 30px;
}

.ewallet_method img {
  width: 125px;
  height: 35px;
}

/*Popup Menu*/

.square {
  display: inline-block;
  padding: 15px 30px;
  width: 170px;
  height: auto;
  background-color: rgb(179, 178, 178);
  left: 0;
  top: 0;
}
@media screen and (max-width: 768px) {
  .square {
    display: block;
    width: 110px;
    height: auto;
  }
  .t-area {
    width: 200px;
    height: 100px;
  }
  .inc-dec {
    max-width: 50px;
  }
}

.inc-dec {
  max-width: 100px;
}

.square:hover {
  background-color: rgb(129, 129, 129);
}
.inc-dec:hover {
  background-color: rgb(129, 129, 129);
}

/*======================================= Index Page ==========================================================*/
.card {
  max-width: 40%;
  margin-bottom: auto;
  margin-top: auto;
}
.card-body .row {
  margin: 10px 10px;
}

.nav-footer {
  padding: 0.75rem;
  padding-top: 4rem;
  flex-shrink: 0;
}

a.button3 {
  display: block;
  padding: 0.5em;
  margin: 0.3em 0.3em 0.3em 16rem;
  border-radius: 0.25em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 500;
  background-color: #f85f5f;
  text-align: center;
  transition: all 0.4s;
}
a.button3:hover {
  background-color: #444444;
  color: white;
}
@media screen and (max-width: 740px) {
  a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}
.payprocess {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}
@media screen and (min-width: 768px) {
  .payprocess {
    padding-top: 150px;
  }
}

.payprocess-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.4s;
  animation-name: animate;
  animation-duration: 0.4s;
}

h1.ml8 {
  font-weight: 900;
  font-size: 4.5em;
  color: #fff;
  width: 3em;
  height: 3em;
}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em;
  margin: 0 40%;
  z-index: 100;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #4f7b86;
  width: 2.3em;
  height: 2.3em;
}

.ml8 .letters-left {
  margin-left: 4.5em;
}
